<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.omg.mapper.CommonMapper" >
<cache eviction="FIFO" flushInterval="60000" readOnly="true">

</cache>
  <select id="getExistsCount" resultType="java.lang.Object">
    SELECT *
    FROM ${table} t
    WHERE
    (<foreach collection="params.keys" index="index" item="key" separator="AND">
    <choose>
      <when test="params[key]">UPPER(t.${key}) = UPPER(#{params[${key}]})</when>
      <otherwise>t.${key} = #{params[${key}]}</otherwise>
    </choose>
  </foreach>)
    <if test="majorBean.value!=null">
      AND t.${majorBean.column} != ${majorBean.value}
    </if>
  </select>
</mapper>