<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.omg.mapper.UserMapper">
	<select id="findByName" resultType="com.omg.entity.User">
	SELECT * FROM user where name =#{username}
	</select>

	<insert id="insertList" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO user (name,age,password) VALUES
		<foreach collection="list" item="item" separator=",">
			(#{item.name}, #{item.age}, #{item.password})
		</foreach>
	</insert>

    <update id="updateBatch" parameterType="java.util.List">
        update user
        set age =
        <foreach collection="list" item="item" index="index"
                 separator=" " open="case id" close="end">
            when #{item.id} then #{item.age}
        </foreach>
        where id in
        <foreach collection="list" item="item" index="index"
                 separator="," open="(" close=")">
            #{item.id}
        </foreach>
    </update>

    <resultMap id="typeHandlerMap" type="com.omg.dto.TestUserDTO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="name" jdbcType="VARCHAR" property="names"
                typeHandler="com.omg.config.typeHandler.UserNameTypeHandler"/>
    </resultMap>
    <select id="findNames" resultMap="typeHandlerMap">
        select * from user where id = 4
    </select>
</mapper>